.promo{
  background:linear-gradient(to right, $colSecondary, $colThird);
  padding-inline: 0.5rem;
  font-size: 0.8rem;
}
.menu{
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: $bgColor;
  padding-inline: 0;
  padding-block: 0.5rem;
  @include transitionFast;
  img{
    height: 1rem;
  }
/* ------------------------------------sandwich button */
  &__sandwich{
    background-color: $colPrimary;
    border-radius: 2px;
    img{
      display: block;
    }
  }
  /* --------------------------------------header logo */
  &__header{
    display: flex;
    align-items: center;
    img{
      height: 1.2rem;
    }
  }
  /* -------------------------------------------navBar */
  &__nav{
    display: flex;
    &__list{
      // display: none;
      position: absolute;
      left: -100%;
      top: 0%;
      height: 100vh;
      width: 100vw;
      z-index: 6;
      display: flex;
      @include transitionFast;
      ul{
        flex-basis: 75%;
        background-color: $bgColor;
        li{
          padding-bottom: 1rem;
          padding-left: 1rem;
          padding-top: 0.5rem;
          color: $colSecondary;
          box-shadow: 0 5px 3px -3px rgba(0, 0, 0, 0.3);
          @include transitionFast;
          img{
            margin-right: 0.5rem;
          }
          &:nth-child(1){
            padding-block: 0;
            img{
              height: 2rem;
            }
          }
          &:hover{
            box-shadow: 0 5px 3px -1px rgba(0, 0, 0, 0.3);
          }
        }
      }
      div{
        background-color: rgba(0, 0, 0, 0.25);
        flex-basis: 25%;
      }
    }
    &__search{
      display: flex;
      position: relative;
      input{
        width: auto;
        font-size: 0.8rem;
        background-color: white;
        border-radius: 1rem;
        padding-left: 0.5rem;
        padding-block: 0.2rem;
        &::placeholder{
          opacity: 0.5;
          font-size: 0.7rem;
        }
        &:focus{
          outline: solid 1px $colSecondary; 
        }
      }
      button{
        position: absolute;
        padding: 2px;
        border-radius: 50%;
        right: 0.2rem;
        top: calc(50% - 10px);
        cursor: pointer;
        @include transitionFast;
        img{
          display: block;
        }
        &:hover{
          background-color: $bgColor;
        }
      }
      &__results{
        font-size: 0.5rem;
        position: absolute;
        background-color: changeOpacity($bgColor,0.5);
        backdrop-filter: blur(5px);
        top: 110%;
        left: 10%;
        z-index: 3;
        @include transitionFast;
        border-radius: 0.5rem;
        max-height: 0px;
        overflow: hidden;
        &__card{
          display: flex;
          align-items: center;
          border-bottom: 1px $colPrice solid;
          @include transitionFast;
          img{
            aspect-ratio: 1/1;
          }
          &:hover{
            background: linear-gradient(to right, $colSecondary, changeOpacity($colPrice, 0.6));
          }
        }
      }
    }
  }
  /* ---------------------------------------------login button */
  &__login{
    display: flex;
    &>*{
      display: flex;
      align-items: center;
      @include btnStyle($bgColor, $colPrimary);
      font-size: 0.5rem;
      &:hover{
        box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.7);
        transform: translateY(-4px);
      }
    }
    &__account{
      display: none;
    }
  }

}
/* ---------------------------------------estilo para funciones */
.stickyStyle{
  box-shadow: 0 2px 2px 1px changeOpacity($colThird, 0.5);
  position: sticky;
  z-index: 4;
  top: 0;
}
.menuIn{
  left: 0;
}