/* variables */
.promo {
  background: linear-gradient(to right, #E7B10A, #862B0D);
  padding-inline: 0.5rem;
  font-size: 0.8rem;
}

.menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #F7F1E5;
  padding-inline: 0;
  padding-block: 0.5rem;
  transition: all ease-in-out 0.3s; /* ------------------------------------sandwich button */
  /* --------------------------------------header logo */
  /* -------------------------------------------navBar */
  /* ---------------------------------------------login button */
}
.menu img {
  height: 1rem;
}
.menu__sandwich {
  background-color: #898121;
  border-radius: 2px;
}
.menu__sandwich img {
  display: block;
}
.menu__header {
  display: flex;
  align-items: center;
}
.menu__header img {
  height: 1.2rem;
}
.menu__nav {
  display: flex;
}
.menu__nav__list {
  position: absolute;
  left: -100%;
  top: 0%;
  height: 100vh;
  width: 100vw;
  z-index: 6;
  display: flex;
  transition: all ease-in-out 0.3s;
}
.menu__nav__list ul {
  flex-basis: 75%;
  background-color: #F7F1E5;
}
.menu__nav__list ul li {
  padding-bottom: 1rem;
  padding-left: 1rem;
  padding-top: 0.5rem;
  color: #E7B10A;
  box-shadow: 0 5px 3px -3px rgba(0, 0, 0, 0.3);
  transition: all ease-in-out 0.3s;
}
.menu__nav__list ul li img {
  margin-right: 0.5rem;
}
.menu__nav__list ul li:nth-child(1) {
  padding-block: 0;
}
.menu__nav__list ul li:nth-child(1) img {
  height: 2rem;
}
.menu__nav__list ul li:hover {
  box-shadow: 0 5px 3px -1px rgba(0, 0, 0, 0.3);
}
.menu__nav__list div {
  background-color: rgba(0, 0, 0, 0.25);
  flex-basis: 25%;
}
.menu__nav__search {
  display: flex;
  position: relative;
}
.menu__nav__search input {
  width: auto;
  font-size: 0.8rem;
  background-color: white;
  border-radius: 1rem;
  padding-left: 0.5rem;
  padding-block: 0.2rem;
}
.menu__nav__search input::-moz-placeholder {
  opacity: 0.5;
  font-size: 0.7rem;
}
.menu__nav__search input::placeholder {
  opacity: 0.5;
  font-size: 0.7rem;
}
.menu__nav__search input:focus {
  outline: solid 1px #E7B10A;
}
.menu__nav__search button {
  position: absolute;
  padding: 2px;
  border-radius: 50%;
  right: 0.2rem;
  top: calc(50% - 10px);
  cursor: pointer;
  transition: all ease-in-out 0.3s;
}
.menu__nav__search button img {
  display: block;
}
.menu__nav__search button:hover {
  background-color: #F7F1E5;
}
.menu__login {
  display: flex;
  background-color: #898121;
  font-size: 0.7rem;
  padding-inline: 0.5rem;
  padding-block: 0.2rem;
  border-radius: 1rem;
  color: #F7F1E5;
  cursor: pointer;
  transition: all ease-in-out 0.3s;
}
@media screen and (min-width: 1000px) {
  .menu__login {
    font-size: 1rem;
  }
}
.menu__login:hover {
  box-shadow: 0px 2px 1px 3px rgba(231, 177, 10, 0.7);
}

/* ---------------------------------------stilo para funciones */
.stickyStyle {
  box-shadow: 0 2px 2px 1px rgba(134, 43, 13, 0.5);
  position: sticky;
  z-index: 4;
  top: 0;
}

.menuIn {
  left: 0;
}

.title {
  position: relative;
}
.title__slider {
  overflow-x: hidden;
  position: relative;
  width: 100%;
  height: 200px;
}
.title__slider::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  z-index: 2;
}
.title__slider__slide {
  transition: all ease-in-out 0.7s;
  width: 360vw;
  display: flex;
}
.title__slider__slide img {
  width: 90vw;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
}
.title__slider__btnLeft, .title__slider__btnRight {
  position: absolute;
  top: calc(50% - 8vw);
  border-radius: 50%;
  background-color: rgba(247, 241, 229, 0.5);
  width: 10%;
  left: 0.5rem;
  z-index: 3;
  cursor: pointer;
  transition: all ease-in-out 0.3s;
}
.title__slider__btnLeft:hover, .title__slider__btnRight:hover {
  background-color: rgba(247, 241, 229, 0.7);
}
.title__slider__btnRight {
  left: auto;
  right: 0.5rem;
}
.title__offer {
  position: absolute;
  z-index: 2;
  bottom: 0;
  padding: 1rem;
  color: #F7F1E5;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 0.2rem;
}
.title__offer h2 {
  font-weight: bolder;
}
.title__offer h3 {
  font-size: 0.7rem;
}
.title__offer a {
  background-color: #898121;
  font-size: 0.7rem;
  padding-inline: 0.5rem;
  padding-block: 0.2rem;
  border-radius: 1rem;
  color: #F7F1E5;
  cursor: pointer;
  transition: all ease-in-out 0.3s;
  box-shadow: 0 1px 10px -1px rgba(247, 241, 229, 0.7);
}
@media screen and (min-width: 1000px) {
  .title__offer a {
    font-size: 1rem;
  }
}
.title__offer a:hover {
  transform: scale(1.2);
}

.stock {
  padding-block: 1rem;
}
.stock h2, .stock h3 {
  text-align: center;
  font-weight: bolder;
  margin-bottom: 1rem;
  text-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  color: #694F04;
  font-size: 1.5rem;
}
@media screen and (min-width: 1000px) {
  .stock h2, .stock h3 {
    font-size: 2.5rem;
  }
}
.stock h3 {
  font-weight: lighter;
}
.stock__category {
  position: relative;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 0.5rem;
  margin-bottom: 1rem;
}
.stock__category__card {
  grid-column: span 6;
  text-align: center;
  border-radius: 0.2rem;
  padding: 5px;
  font-size: 0.7rem;
  color: #898121;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  transition: all ease-in-out 0.3s;
}
.stock__category__card__photo {
  position: relative;
  width: 100%;
  overflow: hidden;
  margin-bottom: 1rem;
}
.stock__category__card__photo img {
  transition: all ease-in-out 0.7s;
}
.stock__category__card__photo__mask {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  padding-inline: 20%;
  background-color: #F7F1E5;
}
.stock__category__card__photo:hover > .stock__category__card__photo__mask {
  opacity: 0;
}
.stock__category__card__photo:hover > img {
  transform: scale(1.2);
}
.stock__category__card h4 {
  color: #694F04;
  font-weight: bolder;
}
.stock__category__card__actions {
  display: flex;
  height: 1.5rem;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 1rem;
}
.stock__category__card__actions button {
  display: none;
  align-items: center;
  background-color: #898121;
  font-size: 0.7rem;
  padding-inline: 0.5rem;
  padding-block: 0.2rem;
  border-radius: 1rem;
  color: #F7F1E5;
  cursor: pointer;
  transition: all ease-in-out 0.3s;
  font-size: 0.5rem;
}
@media screen and (min-width: 1000px) {
  .stock__category__card__actions button {
    font-size: 1rem;
  }
}
.stock__category__card__actions button:hover {
  background-color: rgba(137, 129, 33, 0.5);
  transform: translateY(-4px);
}
.stock__category__card__actions__fav:hover {
  background-color: rgba(134, 43, 13, 0.8) !important;
  transform: translateY(-4px);
}
.stock__category__card__actions img {
  height: 1rem;
  border-radius: 50%;
}
.stock__category__card__discount {
  position: absolute;
  background-color: #862B0D;
  color: #F7F1E5;
  border-radius: 50%;
  z-index: 2;
  padding: 5px;
  font-size: 0.5rem;
  -o-object-fit: cover;
     object-fit: cover;
  aspect-ratio: 1/1;
  display: grid;
  place-items: center;
}
.stock__category__card:hover {
  box-shadow: 0px 2px 2px -1px black;
  background-color: #E7B10A;
  color: #F7F1E5;
  transform: translateY(-2px);
}
.stock__category__card:hover > .stock__category__card__actions > * {
  display: flex;
}

.info {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.5rem;
  padding-bottom: 1rem;
}
.info h2 {
  grid-column: span 4;
  text-align: center;
  font-weight: bolder;
  margin-bottom: 1rem;
  text-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  font-size: 1.5rem;
  color: #694F04;
}
@media screen and (min-width: 1000px) {
  .info h2 {
    font-size: 2.5rem;
  }
}
.info__card {
  grid-column: span 4;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.info__card img {
  width: 25%;
  border-radius: 50%;
  border: solid 2px #898121;
  padding: 1rem;
  transition: all ease-in-out 0.3s;
}
.info__card img:hover {
  transform: rotate3d(0, 1, 0, 360deg);
  box-shadow: 0 0 5px -1px rgba(0, 0, 0, 0.9);
}
.info__card__description {
  padding-block: 0.5rem;
  font-size: 1rem;
  text-align: center;
}
.info__card__description h3 {
  font-weight: bolder;
  margin-bottom: 0.5rem;
}

.contact {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  justify-content: center;
  gap: 1rem;
  background: linear-gradient(to right bottom, rgb(231, 177, 10), rgb(134, 43, 13));
}
.contact > * {
  grid-column: span 12;
}
.contact__logo {
  display: flex;
  flex-direction: column;
}
.contact__logo p {
  text-align: justify;
  color: #F7F1E5;
  font-size: 0.8rem;
  padding-inline: 1rem;
}
.contact__logo__social {
  display: flex;
  justify-content: space-evenly;
  padding-block: 0.5rem;
}
.contact__logo__social img {
  transition: all ease-in-out 0.3s;
  height: 2rem;
  border-radius: 50%;
}
.contact__logo__social img:hover {
  transform: scale(1.2);
  box-shadow: 0 2px 5px 0px #694F04;
}
.contact__nav h3 {
  text-align: center;
  font-weight: bolder;
  margin-bottom: 1rem;
  text-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}
@media screen and (min-width: 1000px) {
  .contact__nav h3 {
    font-size: 2.5rem;
  }
}
.contact__nav__list, .contact__customService__list {
  text-align: start;
  padding-left: 1rem;
}
.contact__nav__list > *, .contact__customService__list > * {
  margin-bottom: 0.5rem;
  transition: all ease-in-out 0.3s;
}
.contact__nav__list > *:hover, .contact__customService__list > *:hover {
  transform: translateY(-2px);
}
.contact__info {
  text-align: center;
}
.contact__info h3 {
  text-align: center;
  font-weight: bolder;
  margin-bottom: 1rem;
  text-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}
@media screen and (min-width: 1000px) {
  .contact__info h3 {
    font-size: 2.5rem;
  }
}
.contact__info__list {
  text-align: start;
}
.contact__info__list li {
  margin-bottom: 0.5rem;
  transition: all ease-in-out 0.3s;
}
.contact__info__list li:hover {
  transform: translateY(-2px);
}
.contact__info__list img {
  height: 1rem;
  padding-right: 0.5rem;
}
.contact__customService h3 {
  text-align: center;
  font-weight: bolder;
  margin-bottom: 1rem;
  text-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}
@media screen and (min-width: 1000px) {
  .contact__customService h3 {
    font-size: 2.5rem;
  }
}
.contact__formBox h3 {
  text-align: center;
  font-weight: bolder;
  margin-bottom: 1rem;
  text-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}
@media screen and (min-width: 1000px) {
  .contact__formBox h3 {
    font-size: 2.5rem;
  }
}
.contact__formBox__form {
  display: flex;
  flex-direction: column;
  padding-inline: 2rem;
}
.contact__formBox__form > * {
  background-color: #F7F1E5;
  border-radius: 0.5rem;
  padding-left: 0.5rem;
  margin-bottom: 0.5rem;
  padding-block: 2px;
}
.contact__formBox__form > *::-moz-placeholder {
  opacity: 0.5;
  font-size: 0.7rem;
}
.contact__formBox__form > *::placeholder {
  opacity: 0.5;
  font-size: 0.7rem;
}
.contact__formBox__form > *:focus {
  outline: solid 2px #E7B10A;
}
.contact__formBox__form button {
  background-color: #E7B10A;
  font-size: 0.7rem;
  padding-inline: 0.5rem;
  padding-block: 0.2rem;
  border-radius: 1rem;
  color: #F7F1E5;
  cursor: pointer;
  transition: all ease-in-out 0.3s;
  margin-inline: auto;
}
@media screen and (min-width: 1000px) {
  .contact__formBox__form button {
    font-size: 1rem;
  }
}
.contact__formBox__form button:hover {
  transform: scale(1.1);
}
.contact__footer {
  font-size: 0.6rem;
  text-align: center;
  color: #F7F1E5;
}

.btnUp {
  position: fixed;
  bottom: 1rem;
  right: -9vw;
}
.btnUp a {
  padding: 2px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.5);
  cursor: pointer;
  transition: all ease-in-out 0.3s;
  display: block;
}
.btnUp a img {
  height: 2rem;
}
.btnUp a:hover {
  transform: translateY(-4px);
  box-shadow: 0 4px 5px 2px rgba(0, 0, 0, 0.479);
}

@media screen and (min-width: 470px) {
  .contact__logo {
    width: 70%;
    justify-self: center;
  }
}
@media screen and (min-width: 560px) {
  .stock__category__card {
    grid-column: span 4;
  }
  .info__card {
    grid-column: span 2;
  }
  .contact__logo {
    width: 50%;
  }
  .contact__nav, .contact__info, .contact__customService, .contact__formBox {
    grid-column: span 6;
  }
}
@media screen and (min-width: 730px) {
  .menu__sandwich {
    display: none;
  }
  .menu__nav {
    flex-grow: 1;
    padding-inline: 1rem;
  }
  .menu__nav__list {
    position: static;
    height: auto;
    width: auto;
    flex-grow: 1;
  }
  .menu__nav__list ul {
    display: flex;
    flex-basis: auto;
    flex-grow: 1;
    justify-content: space-evenly;
  }
  .menu__nav__list ul li {
    box-shadow: none;
    padding: 0;
  }
  .menu__nav__list ul li a {
    display: flex;
  }
  .menu__nav__list ul li a img {
    height: 1.1rem;
    margin: 0;
  }
  .menu__nav__list ul li:nth-child(1) {
    display: none;
  }
  .menu__nav__list div {
    display: none;
  }
  .title__slider {
    height: 300px;
  }
  .title__slider__slide > img {
    height: 300px;
  }
  .title__offer h2 {
    font-size: 2rem;
  }
  .title__offer h3 {
    font-size: 1rem;
  }
  .stock__category__card {
    grid-column: span 3;
    font-size: 1rem;
  }
  .stock__category__card__discount {
    font-size: 0.8rem;
  }
}
@media screen and (min-width: 1000px) {
  .menu {
    padding-inline: 1rem;
  }
  .menu > * {
    padding-block: 1rem;
  }
  .menu__header {
    padding: 0;
  }
  .menu__header img {
    height: 4rem;
  }
  .menu__nav__search {
    flex-basis: 40%;
  }
  .menu__nav__search input {
    font-size: 1rem;
    width: 100%;
  }
  .menu__nav__search input::-moz-placeholder {
    padding-left: 0.5rem;
  }
  .menu__nav__search input::placeholder {
    padding-left: 0.5rem;
  }
  .title__slider {
    height: 400px;
  }
  .title__slider__slide > img {
    height: 400px;
  }
  .title__offer > * {
    margin-bottom: 0.5rem;
  }
  .title__offer h2 {
    font-size: 3rem;
  }
  .title__offer h3, .title__offer a {
    font-size: 1.5rem;
  }
  .contact {
    padding-block: 1rem;
  }
  .contact__logo {
    width: auto;
  }
  .contact > *:not(:last-child) {
    grid-column: span 4;
  }
  .contact > *:not(:last-child) h3 {
    font-size: 1rem;
  }
}
@media screen and (min-width: 1200px) {
  .promo {
    font-size: 1.2rem;
  }
  .menu__nav {
    padding-block: 0;
  }
  .menu__nav__list > ul > li {
    padding-block: 1rem;
    padding-inline: 1rem;
  }
  .menu__nav__list > ul > li:hover {
    box-shadow: 0 5px 3px -1px rgba(0, 0, 0, 0.5);
    transform: translateY(-2px);
  }
  .menu__nav__search {
    flex-basis: 50%;
  }
  .menu__nav__search input {
    border-radius: 2rem;
    font-size: 1rem;
    width: 100%;
  }
  .menu__nav__search input::-moz-placeholder {
    font-size: 1rem;
  }
  .menu__nav__search input::placeholder {
    font-size: 1rem;
  }
  .menu__nav__search button {
    top: calc(50% - 1rem);
  }
  .menu__nav__search button img {
    height: 2rem;
  }
  .title__slider__btnLeft, .title__slider__btnRight {
    width: 96px;
  }
  .stock__category__card {
    grid-column: span 2;
    font-size: 1.3rem;
  }
  .stock__category__card__actions > img {
    height: 1.5rem;
  }
  .stock__category__card:hover {
    transform: translateY(-4px);
    box-shadow: 0px 3px 5px -1px black;
  }
  .info__card {
    grid-column: span 1;
  }
  .contact {
    padding-inline: 1rem;
  }
  .contact__logo {
    grid-column: span 3 !important;
  }
  .contact__nav, .contact__customService, .contact__formBox {
    grid-column: span 2 !important;
  }
  .contact__info {
    grid-column: span 3 !important;
  }
  .contact__formBox__form {
    padding-inline: 0;
  }
}
.access {
  padding-bottom: 1rem;
  display: flex;
  flex-direction: column;
}
.access__login h2, .access__regist h2 {
  text-align: center;
  font-weight: bolder;
  margin-bottom: 1rem;
  text-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  color: #898121;
}
@media screen and (min-width: 1000px) {
  .access__login h2, .access__regist h2 {
    font-size: 2.5rem;
  }
}
.access__login__form, .access__regist__form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.access__login__form__input, .access__regist__form__input {
  position: relative;
  border-radius: 1rem;
}
.access__login__form__input > *, .access__regist__form__input > * {
  transition: all ease-in-out 0.3s;
}
.access__login__form__input label, .access__regist__form__input label {
  color: #E7B10A;
  position: absolute;
  top: 1rem;
  left: 0.5rem;
  opacity: 0.5;
}
.access__login__form__input input, .access__regist__form__input input {
  padding-top: 1rem;
  width: 100%;
  padding-left: 0.5rem;
  background-color: white;
  border-radius: 0.5rem;
  outline: solid 2px transparent;
}
.access__login__form__input input:focus, .access__regist__form__input input:focus {
  outline: solid 2px #898121;
}
.access__login__form__input input:-webkit-autofill, .access__regist__form__input input:-webkit-autofill, .access__login__form__input input:-webkit-autofill:hover, .access__login__form__input input:-webkit-autofill:focus, .access__login__form__input input:-webkit-autofill:active {
  -webkit-transition: background-color 5000s ease-in-out 0s;
  transition: background-color 5000s ease-in-out 0s;
}
.access__login__form__btn, .access__regist__form__btn {
  background-color: #898121;
  font-size: 0.7rem;
  padding-inline: 0.5rem;
  padding-block: 0.2rem;
  border-radius: 1rem;
  color: #F7F1E5;
  cursor: pointer;
  transition: all ease-in-out 0.3s;
  margin-inline: auto;
}
@media screen and (min-width: 1000px) {
  .access__login__form__btn, .access__regist__form__btn {
    font-size: 1rem;
  }
}
.access__login__form__btn:disabled, .access__regist__form__btn:disabled {
  opacity: 0.5;
  cursor: auto;
}
.access__login__form__btn:hover, .access__regist__form__btn:hover {
  box-shadow: 0 5px 3px -1px #898121;
  transform: translateY(-2px);
}
.access__login__form__msj, .access__regist__form__msj {
  color: #862B0D;
  opacity: 0.7;
  font-size: 0.8rem;
}
.labelIn {
  font-size: 0.7rem;
  top: 0 !important;
  color: #E7B10A;
}

@media screen and (min-width: 600px) {
  .access {
    flex-direction: row;
    gap: 1rem;
  }
  .access > * {
    flex-basis: 50%;
  }
}
@media screen and (min-width: 1200px) {
  .access {
    padding-inline: 20vw;
    padding-top: 10vh;
  }
  .access__login__form, .access__regist__form {
    gap: 1.5rem;
  }
  .access__login__form label, .access__regist__form label {
    font-size: 1.5rem;
  }
  .access__login__form input, .access__regist__form input {
    padding-top: 1.5rem;
    font-size: 1.5rem;
  }
  .labelIn {
    font-size: 1rem !important;
  }
}
.product {
  padding-block: 1rem;
}
.product h2 {
  text-align: center;
  font-weight: bolder;
  margin-bottom: 1rem;
  text-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  color: #694F04;
  font-size: 1.5rem;
}
@media screen and (min-width: 1000px) {
  .product h2 {
    font-size: 2.5rem;
  }
}
.product__box {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 0.5rem;
}
.product__box__card {
  grid-column: span 12;
  text-align: center;
  border-radius: 0.2rem;
  padding: 5px;
  font-size: 0.7rem;
  color: #898121;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  transition: all ease-in-out 0.3s;
}
.product__box__card__photo {
  position: relative;
  overflow: hidden;
  margin-bottom: 1rem;
}
.product__box__card__photo img {
  transition: all ease-in-out 0.7s;
}
.product__box__card__photo__mask {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  padding-inline: 20%;
  background-color: #F7F1E5;
}
.product__box__card__photo:hover > .product__box__card__photo__mask {
  opacity: 0;
}
.product__box__card__photo:hover > img {
  transform: scale(1.2);
}
.product__box__card h4 {
  color: #694F04;
  font-weight: bolder;
}
.product__box__card__actions {
  display: flex;
  height: 1.5rem;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 1rem;
}
.product__box__card__actions button {
  display: none;
  align-items: center;
  background-color: #898121;
  font-size: 0.7rem;
  padding-inline: 0.5rem;
  padding-block: 0.2rem;
  border-radius: 1rem;
  color: #F7F1E5;
  cursor: pointer;
  transition: all ease-in-out 0.3s;
  font-size: 0.5rem;
}
@media screen and (min-width: 1000px) {
  .product__box__card__actions button {
    font-size: 1rem;
  }
}
.product__box__card__actions button:hover {
  background-color: rgba(137, 129, 33, 0.5);
  transform: translateY(-4px);
}
.product__box__card__actions__fav:hover {
  background-color: rgba(134, 43, 13, 0.8) !important;
  transform: translateY(-4px);
}
.product__box__card__actions img {
  height: 1rem;
  border-radius: 50%;
}
.product__box__card__add {
  background-color: rgba(231, 177, 10, 0.5);
  height: 100%;
  display: grid;
  place-items: center;
  border-radius: 1rem;
  box-shadow: 0 0 16px 5px rgba(0, 0, 0, 0.6);
}
.product__box__card__add a {
  transition: all ease-in-out 0.3s;
}
.product__box__card__add:hover > a {
  animation: bear 1s infinite;
}
.product__box__card__add:hover {
  box-shadow: none;
}
.product__box__card:hover {
  box-shadow: 0px 2px 10px -1px black;
  background-color: #E7B10A;
  color: #F7F1E5;
  transform: translateY(-6px);
}
.product__box__card:hover > .product__box__card__actions > * {
  display: flex;
}

@keyframes bear {
  0% {
    transform: scale(1.3);
    opacity: 1;
  }
  50% {
    transform: scale(0.8);
    opacity: 0.5;
  }
  100% {
    transform: scale(1.3);
    opacity: 1;
  }
}
@media screen and (min-width: 500px) {
  .product__box__card {
    font-size: 1rem;
  }
}
@media screen and (min-width: 700px) {
  .product__box__card {
    grid-column: span 6;
  }
}
@media screen and (min-width: 1000px) {
  .product__box__card {
    grid-column: span 4;
    font-size: 1.2rem;
  }
  .product__box__card p {
    padding-inline: 10%;
  }
  .product__box__card__actions > button {
    font-size: 1.3rem;
  }
  .product__box__card__actions > button img {
    height: 1.5rem;
  }
}
@media screen and (min-width: 1200px) {
  .product__box__card {
    font-size: 1.5rem;
  }
}
.addProd h2 {
  text-align: center;
  font-weight: bolder;
  margin-bottom: 1rem;
  text-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}
@media screen and (min-width: 1000px) {
  .addProd h2 {
    font-size: 2.5rem;
  }
}
.addProd__form {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 1rem;
  padding-block: 1rem;
}
.addProd__form__field {
  grid-column: span 12;
  display: flex;
  flex-direction: column;
  font-weight: bolder;
  color: #694F04;
}
.addProd__form__field label {
  margin-bottom: 5px;
}
.addProd__form__field input, .addProd__form__field textarea {
  background-color: rgba(231, 177, 10, 0.2);
  border-radius: 1rem;
  padding: 0.5rem;
  box-shadow: 0 0px 10px 0px rgba(0, 0, 0, 0.5);
  font-weight: lighter;
  transition: all ease-in-out 0.3s;
}
.addProd__form__field input::-moz-placeholder, .addProd__form__field textarea::-moz-placeholder {
  opacity: 0.4;
}
.addProd__form__field input::placeholder, .addProd__form__field textarea::placeholder {
  opacity: 0.4;
}
.addProd__form__field input:focus, .addProd__form__field textarea:focus {
  outline: solid #E7B10A 2px;
  background-color: rgba(231, 177, 10, 0.5);
}
.addProd__form__btn {
  grid-column: span 12;
}
.addProd__form__btn button {
  background-color: #694F04;
  font-size: 0.7rem;
  padding-inline: 0.5rem;
  padding-block: 0.2rem;
  border-radius: 1rem;
  color: #F7F1E5;
  cursor: pointer;
  transition: all ease-in-out 0.3s;
  width: 100%;
  text-align: center;
  transition: all ease-in-out 0.3s;
}
@media screen and (min-width: 1000px) {
  .addProd__form__btn button {
    font-size: 1rem;
  }
}
.addProd__form__btn button:hover {
  box-shadow: 0 0 16px 0 rgba(231, 177, 10, 0.9);
  transform: translateY(-5px);
  background-color: rgba(231, 177, 10, 0.8) !important;
}
.addProd__form__btn button:disabled {
  background-color: rgba(137, 129, 33, 0.6) !important;
}
.addProd__message {
  color: #694F04;
  font-weight: bolder;
}

.invalid {
  background-color: rgba(134, 43, 13, 0.5) !important;
}
.invalid:focus {
  outline: solid #862B0D 2px !important;
}

@media screen and (min-width: 510px) {
  .addProd__form__field {
    grid-column: span 6;
  }
}
@media screen and (min-width: 710px) {
  .addProd__form {
    gap: 2rem;
  }
}
@media screen and (min-width: 1000px) {
  .addProd__form__field {
    font-size: 1.5rem;
  }
  .addProd__form__btn > button {
    font-size: 1.5rem !important;
  }
}
@media screen and (min-width: 1200px) {
  .addProd__form {
    padding-inline: 4rem;
  }
  .addProd__form__btn {
    justify-self: center;
    width: 50%;
  }
}
.detail {
  display: flex;
  flex-direction: column;
}
.detail > * {
  margin-bottom: 1rem;
}
.detail__profile {
  position: relative;
  overflow: hidden;
}
.detail__profile__discount {
  position: absolute;
  top: 10%;
  right: 5%;
  display: grid;
  place-items: center;
  background-color: #862B0D;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  aspect-ratio: 1/1;
  padding: 4px;
  font-size: 0.5rem;
  font-weight: bolder;
  color: #F7F1E5;
}
.detail__info h3 {
  text-align: center;
  font-weight: bolder;
  margin-bottom: 1rem;
  text-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}
@media screen and (min-width: 1000px) {
  .detail__info h3 {
    font-size: 2.5rem;
  }
}
.detail__info p {
  padding-inline: 1rem;
  display: flex;
  align-items: center;
}
.detail__info p img {
  height: 1rem;
  margin-right: 0.5rem;
}
.detail__info__price {
  text-decoration: line-through;
  margin-right: 0.5rem;
  color: rgba(134, 43, 13, 0.5);
}
.detail__info__priceActual {
  color: #862B0D;
  font-weight: bolder;
}
.detail__info__stock {
  margin-right: 0.2rem;
}
.detail__info__category {
  margin-left: 0.2rem;
}
.detail__info__actions {
  padding-block: 0.5rem;
}
.detail__info__actions__delete {
  background-color: #862B0D;
  font-size: 0.7rem;
  padding-inline: 0.5rem;
  padding-block: 0.2rem;
  border-radius: 1rem;
  color: #F7F1E5;
  cursor: pointer;
  transition: all ease-in-out 0.3s;
  margin-inline: 1rem;
}
@media screen and (min-width: 1000px) {
  .detail__info__actions__delete {
    font-size: 1rem;
  }
}
.detail__info__actions__update {
  background-color: #E7B10A;
  font-size: 0.7rem;
  padding-inline: 0.5rem;
  padding-block: 0.2rem;
  border-radius: 1rem;
  color: #F7F1E5;
  cursor: pointer;
  transition: all ease-in-out 0.3s;
  margin-inline: 1rem;
}
@media screen and (min-width: 1000px) {
  .detail__info__actions__update {
    font-size: 1rem;
  }
}
.detail__info__actions > *:hover {
  transform: translateY(-4px) scale(1.1);
  box-shadow: 0 5px 10px -2px rgba(0, 0, 0, 0.7);
}
.detail__info h4 {
  padding-inline: 1rem;
  margin-bottom: 1rem;
}
.detail__info__description {
  text-align: justify;
}

@media screen and (min-width: 600px) {
  .detail__profile__discount {
    font-size: 1rem;
  }
}
@media screen and (min-width: 870px) {
  .detail__profile__discount {
    font-size: 1.3rem;
  }
}
@media screen and (min-width: 1000px) {
  .detail {
    flex-direction: row;
  }
  .detail__info {
    max-width: 50%;
  }
}
@media screen and (min-width: 1200px) {
  .detail__info {
    padding-left: 2rem;
    font-size: 1.5rem;
  }
}
html {
  scroll-behavior: smooth;
}
html body {
  font-family: "Lato";
  background-color: #F7F1E5;
}
html body > * {
  padding-inline: 10vw;
}/*# sourceMappingURL=styles.css.map */