/* variables */
$bgColor:#F7F1E5;
$colPrimary:#898121;
$colSecondary:#E7B10A;
$colThird:#862B0D;
$colPrice:#694F04;

@function changeOpacity ($color, $opacity){
  $red: red($color);
  $green: green($color);
  $blue: blue($color);
  $new-color: rgba($red, $green, $blue, $opacity);
  @return $new-color;
};

@mixin transitionFast(){
  transition: all ease-in-out 0.3s;
};
@mixin transitionSlow(){
  transition: all ease-in-out 0.7s;
};
@mixin btnStyle($fontCol, $bgCol){
  background-color: $bgCol;
  font-size: 0.7rem;
  padding-inline: 0.5rem;
  padding-block: 0.2rem;
  border-radius: 1rem;
  color: $fontCol;
  cursor: pointer;
  @include transitionFast;
  @media screen and (min-width:1000px) {
    font-size: 1rem;
  }
};

@mixin titleStyle(){
  text-align: center;
  font-weight: bolder;
  margin-bottom: 1rem;
  text-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);

  @media screen and (min-width:1000px) {
    font-size: 2.5rem;
  }
}