.menu{
  display: flex;
  padding-block: 0.5rem;
  justify-content: space-evenly;
  align-items: center;
  box-shadow: 0 2px 2px 1px changeOpacity($colThird, 0.5);
  background-color: $bgColor;
  position: sticky;
  z-index: 4;
  top: 0;
  img{
    height: 1rem;
  }
  &__header{
    display: flex;
    align-items: center;
    img{
      height: 1.2rem;
    }
  }
  &__nav{
    display: flex;
    &__list{
      display: none;
    }
    &__search{
      display: flex;
      position: relative;
      input{
        width: auto;
        font-size: 0.8rem;
        background-color: white;
        border-radius: 1rem;
        padding-left: 0.5rem;
        padding-block: 0.2rem;
        &::placeholder{
          opacity: 0.5;
          font-size: 0.7rem;
        }
        &:focus{
          outline: solid 1px $colSecondary; 
        }
      }
      button{
        position: absolute;
        padding: 2px;
        border-radius: 50%;
        right: 0.2rem;
        top: calc(50% - 10px);
        @include transitionFast;
        img{
          display: block;
        }
        &:hover{
          background-color: $bgColor;
        }
      }
    }
  }
  &__login{
    display: flex;
    @include btnStyle($bgColor, $colPrimary);
    &:hover{
      box-shadow: 0px 2px 1px 0px changeOpacity($colSecondary, 0.7);
    }
  }

}