@import 'configuration';
@import 'menu';
@import 'title';
@import 'stockProducts';
@import 'info';
@import 'contact';
@import 'homeResponsive';

html{
  scroll-behavior: smooth;
  body{
    font-family: 'Lato';
    background-color: $bgColor;
    &>*{
      padding-inline: 1rem;
    }
  }
}